body {
    background: url("../img/chalkboard.jpg") fixed;
}

#nav{
    width: 60px;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    z-index:100;
    background:#111;
    color:#fff;
    overflow:hidden;
}

* {
    font-family: 'Ubuntu Condensed', sans-serif;
}

p, h1 {
    color: white;
}

#nav ul{
    padding:0;
    width:200px;
    list-style:none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#nav a{
    color:#fff;
    font-size:14px;
    text-decoration:none;
}

h5 {
    display: inline-block;
    margin-left: 1rem;
}

.icons {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 30px;
    display: inline-block;
    text-align: center;
}

button {
    height: 60px;
    width: 60px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

#mainpage {
    width: 100%;
    margin-right: 60px;
}

#head {
    text-align: center;
    margin-top: 10rem;
}